.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.text {
  font-size: 1.25rem;
}

.twitter {
  text-decoration: underline;
  color: #00acee;
}

.github {
  text-decoration: underline;
}
