.article {
  margin-top: 4rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.markdown {
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(226, 232, 240, .6);
  }
  h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 30px;
  }
  a {
    text-decoration: underline;
    color: #0bd;
  }
  a:hover {
    opacity: 0.6;
  }
  pre {
    overflow-x: auto;
    padding: 1.6rem;
    font-size: 12px;
  }

  ul {
    padding-left: 1rem;
  }

  code {
    background: #1c1d21;
    padding: 0.04em 0.3em;
    margin: 0 0.2em;
    border-radius: 3px;
  }

  blockquote {
    position: relative;
    padding: 10px 15px 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    font-style: italic;
    border-left: 3px solid rgba(0,0,0,.84);
    color: #F1F1EF;
  }

  blockquote p {
      padding: 0;
      margin: 10px 0;
      line-height: 1.7;
  }

  blockquote cite {
      display: block;
      text-align: right;
      color: #888888;
      font-size: 0.9em;
  }

  p img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    display: block;
    margin: 25px auto;
  }
}
